.alt-header {
  padding: var(--horizontal-space) 15px 0px 15px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__title {
  font-size: 28px;
  font-weight: 800;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
}
.alt-header__column .fa-search {
  margin-right: 20px;
}
