#no-mobile {
  position: absolute;
  z-index: 99;
  height: 120vh;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 1500px) {
  #no-mobile {
    display: none;
  }
}
